<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/menu %>
    <div class=" container container-fluid">    
        <h3 class="bg-3 text-left"> List Appointment </h3>
        <%  if(dataAppointments.length > 0) { %>
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th scope="col"> Id </th>
                    <th scope="col"> Patient</th>
                    <th scope="col"> Appointment Date </th> 
                    <th scope="col"> Disease</th>
                    <th scope="col"> Status </th>
                    <th scope="col"> Action </th>
                </tr>
            </thead>
            <tbody>
                <% dataAppointments.forEach(appointment=>{ %>
                <tr>
                    <th> <%= appointment.id %></th>
                    <th> <%= appointment.PatientId %></th>
                    <th> <%= appointment.date %> </th>
                    <th> <%= appointment.disease %>  </th> 
                    <% if(appointment.status == false) { %> 
                        <th><a href="/doctor/approve/<%= appointment.id %>"> <button type="button" class="btn btn-warning">Waiting</button>  </th>
                    <% } else { %>
                        <th> approved </th>  
                    <% } %>
                    <th> <a href="/appointment/detail/<%= appointment.id %>"> Detail Patient </a> </th>
                </tr> 
                <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <li><h4>Tidak Ada Appointment</h4></li> 
        <% } %>
    </div>
</body>
</html>