<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<% include ../partials/menu %>

<div class="container">
  <h1>Welcome</h1>
  <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    First Name
    <span class="badge badge-primary badge-pill"><%=session.user.firstName%></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Email
    <span class="badge badge-primary badge-pill"><%=session.user.email%></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Gender
    <span class="badge badge-primary badge-pill"><%=session.user.gender%></span>
  </li>
</ul>
  <br></br>
  <a class="btn btn-primary" href="/patient/makeAppointment" role="button">Make Appointment</a>
  <br></br>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Id</th>
        <th>Keluhan</th>
        <th>Tanggal Janji</th>
        <th>Janji dibuat Tanggal</th>
        <th>Dokter</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    <%for(let i =0; i < result.length; i++) {%>
    <tr>
    <td><%=result[i].id %></td>
    <td><%=result[i].disease%></td>
    <td><%=result[i].date%></td>
    <td><%=result[i].createdAt%></td>
    <td><%=result[i].Doctor.firstName%></td>
    <td>
    <%if(result[i].status == true) {%>
    <a href="#" class="text-primary">Resolved</a>
    <%} else {%>
    <a href="#" class="text-danger">Pending</a>
    <%}%>
    </td>
  </tr>
    <%}%>
    </tbody>
  </table>
</div>
