<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<div class="container">
  <h1>Appointment list</h1>
  <a class="btn btn-primary" href="/patient/makeAppointment" role="button">Make Appointment</a>
  <br></br>
  <br></br>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Id</th>
        <th>Keluhan</th>
        <th>Tanggal Janji</th>
        <th>Janji dibuat Tanggal</th>
        <th>Dokter</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    <%for(let i =0; i < result.length; i++) {%>
    <tr>
    <td><%=result[i].id %></td>
    <td><%=result[i].disease%></td>
    <td><%=result[i].date%></td>
    <td><%=result[i].createdAt%></td>
    <td><%=result[i].Doctor.firstName%></td>
    <td><%=result[i].status%></td>
  </tr>
    <%}%>
    </tbody>
  </table>
</div>
